<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a2077fc4c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Bienvenidos a Mercado Liebre</title>
</head>
<body>

    <header>

        <div class="contenedor1">
    <img class= "uno" src="/images/logo-mercado-liebre.svg" alt="Logo">
    <input type="text" name="barra" placeholder="Buscar productos,marca">

   <!-- <i class="fa-solid fa-magnifying-glass"></i>-->
    <p class="dos" > <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p> 
        </div>
    <nav class="navegador" >
 <ul >
    <li type="none"> <a href="   "> Ofertas</a></li>
    <li type="none"> <a href="   "> Tiendas oficiales</a></li>
    <li type="none"> <a href="   "> Vender</a></li>
    <li type="none"> <a href=" "> Ayuda </a></li>
 </ul>

 <ul class="opciones">
    <li type="none" > <a href="#"> Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
    <li type="none"> <a href="/login"> Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
    <li type="none"> <a href=" "> Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping"></i></li>
  
 </ul>
</nav>
 <div class="burger-menu">
    <i id="buscador" class="fas fa-bars"></i>
</div>



 </header>

        <main class="contenedor2">  
            <form class="pform" action="register.html" method="GET">
                
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>

            <h3>Fecha de nacimiento</h3>

            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="dd/mm/aaaa" required>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
            
            <h3>Perfil del usuario</h3>

            <div class="box-button">
                <div class="button-opciones">
                    <input type="radio" name="perfil" id="comprador" value="Comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div class="button-opciones">
                    <input type="radio" name="perfil" id="vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3>Intereses</h3>
            <br>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="electro" value="Electro">
                <label for="electro">Electro</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Moda" value="Moda">
                <label for="Moda">Moda</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Hogar" value="Hogar">
                <label for="Hogar">Hogar</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Jugueteria" value="Jugueteria">
                <label for="Jugueteria">Juguetería</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Vida sana" value="Vida sana">
                <label for="Vida sana">Vida sana</label>
            </div>
            <br>
            <h3>Foto de perfil</h3>
            <br>
            <input type="file" name="foto-usuario" id="foto-usuario" accept="image/*">
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmar contraseña" required>
            <input class="button-enviar" type="submit" value="Enviar" href="/">
            <input class="button-borrar" type="reset" value="Borrar">
          
        </form>
        </main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <div class="cajas">
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="hfinal">Pagá con tarjeta o en efectivo</h4>
            <p class="pfinal">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
          </div>
    
           <div class="cajas">
            <i class="fas fa-gift"></i>
            <h4 class="hfinal" >Envío gratis desde $ 2.500</h4>
             <p class="pfinal">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div class="cajas">
             <i class="fas fa-user-shield"></i>
            <h4 class="hfinal" >Seguridad, de principio a fin</h4>
            <p class="pfinal">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
            </div>  
    
            <h4 class="final">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </footer>
    
     
    </body>
    </html>